<!DOCTYPE html>
<html>
<head>
	
	<title>Highland Park Yardsale Map - BETA</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.61.0/L.Control.Locate.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_green.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.7/dialog-polyfill.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.61.0/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

	
</head>
<body>
    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Highland Park Yardsale Map</h4>
        <div class="mdl-dialog__content">
            <p><strong>BETA</strong></p>
            <p>Welcome to the online Highland Park Yard Sale Map for 2017! Don't plan based on this map yet! Address numbers and detailed map locations will be revealed on <strong>June 4th at 8:30 am</strong>.</p>
            <p>Additionally, this site is still in beta and may have some missing or broken functionality.</p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button close">Show me the listings!</button>
        </div>
    </dialog>
    <script>
        var dialog = document.querySelector('dialog');
        dialogPolyfill.registerDialog(dialog);
        dialog.querySelector('button:not([disabled])').addEventListener('click', function() { dialog.close();});
        dialog.showModal();
    </script>
            
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                mdl-layout--fixed-tabs
                mdl-layout--no-drawer-button
                mdl-layout--no-desktop-drawer-button">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">The 2017 Highland Park Yard Sale</span>
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#list-tab" class="mdl-layout__tab is-active"><strong>List View</strong></a>
                <a href="#map-tab" class="mdl-layout__tab"><strong>Map View</strong></a>
            </div>
        </header>
  <!--<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
  </div>-->
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="list-tab">
            <div class="page-content">
                <div class="mdl-grid" id="itemList">
                    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                        <input class="mdl-textfield__input" type="text" id="searchBox" onkeyup="listSearch()">
                        <label class="mdl-textfield__label" for="searchBox">Search within listings</label>
                    </div>
                {%for location in locations%}
                    {% if location.lat and location.lon %}
                        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                            <div class="mdl-card__title mdl-card--border">
                                    <h2 class="mdl-card__title-text">{{loop.index}} - {{location.address}}</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                {{location.stuff}}
                            </div>
                            <div class="mdl-card__actions">
                                <a id="marker_{{loop.index}}" href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--fab">
                                <i class="material-icons">room</i>
                                </a>
                            </div>
                        </div>
                    {%endif%}
                 {%endfor%}
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="map-tab">
            <div class="page-content">
                <div id="mapid" style="height: 100vh; width: 100vw;"></div>
            </div>
        </section>
    </main>
    </div>



    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>

    var mymap = L.map('mapid').setView({{highland_park_center}}, 14);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoianl1bmR0IiwiYSI6ImNqMGc3M2Z1MzAyOWQzMnB1MmJ3YTZqa3cifQ.xcu0DyUJaUf2VIoXvyAyNA', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

    L.control.locate().addTo(mymap);

    var markers = [];
    {%for location in locations%}
        {% if location.lat and location.lon %}
            var marker_{{loop.index}} = L.marker([{{location.lat}}, {{location.lon}}],{title:"marker_{{loop.index}}"}).addTo(mymap).bindPopup('<strong>{{location.address}}</strong><br>{{location.stuff}}');
            markers.push(marker_{{loop.index}});
        {%endif%}
    {%endfor%}


    function markerPopupOnClick(id){
        for (var i in markers){
            var markerID = markers[i].options.title;
            if (markerID == id){
                $(".mdl-layout__tab:eq(1) span").click ();
                $("#mapid").height($("main.mdl-layout__content").height()); mymap.invalidateSize();
                markers[i].openPopup();
            };
        }
    }



    $("a").click(function(){
        markerPopupOnClick($(this)[0].id);
    });


</script>
<script>
    function listSearch() {
        input = document.getElementById("searchBox");
        filter = input.value.toUpperCase();
        cards = document.getElementsByClassName("mdl-card");
        for (i = 0; i < cards.length; i++) {
            a = cards[i].getElementsByTagName("div")[1];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1){
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
   



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100160098-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

